body {  
    background: gray;
    color: red;
}
h1 {
    color: rgb(165, 11, 11); 
    font-size: 100% font-family: "Rammetto One", sans-serif;
}
p { 
    color: black; 
}
a {
 background: black;
}
a:visted {
 background: lightblue;
}
a:hover {
 background: none;
}