body {  
    background: gray;
    color: red;
}
h2, h3, h4, {
    color: #2D8BCF;
}
  @import url('https://fonts.googleapis.com/css?family=Rammetto+One');

h1 {
    color: rgb(165, 11, 11); 
    font-size: 400% font-family: "Rammetto One", sans-serif;
}
p { 
    color: black; 
}
a {
 background: black;
}
a:visted {
 background: lightblue;
}
a:hover {
 background: none;
}