body {  
    background: gray;
    color: red;
}
h1 {
    color: rgb(165, 11, 11);
}
.flex-container {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
}
.flex-item {
    border: 1px;
    padding: 10px;
    width: 20%;
}
p { 
    color: black; 
}
a {
 background: black;
}
a:visted {
 background: lightblue;
}
a:hover {
 background: none;
}
