body {
    
 background: gray;
}
h1, h2, h3, h4, a {
    color: #2D8BCF;
  }
  @import url('https://fonts.googleapis.com/css?family=Rammetto+One');

  h1 {
    font-family: "Rammetto One", sans-serif;
  }
p { 
    color: blue; font-style: italic;
  }
<h1 style="color: rgb(165, 11, 11); font-size: 400%">